@import "../../layout/variables.scss";

.container {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: #1e1f23;
  flex-grow: 1;
}

.buttonoption {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  justify-content: space-around;
  color: white;
  font-size: 25px;

  &:first-child {
    border-right: solid 2px white;
  }
  a {
    color: white;

    &:hover {
      text-decoration: none;
    }
  }
}

.detailtext {
  font-size: 15px;
}

