.boxwhitecontainer {
    border-radius: 30px;
    width: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 50%;
    min-height: 200px;
    justify-content: space-around;
    padding: 5px;
}

.boxtitle {
    float: left;
    margin-left: 3px;
    width: 100%;
}

.titleleft {
    float: left;
}