.container {
  display: flex;
  flex-direction: column;
  color: white;
}

.wrapper {
    height: 100%;
    width: 100%;
    padding-top: 15vh;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 4s;
  
    @keyframes fadeInOpacity {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
   
  }

.title {
  color: red($color: #000000);
}

.text {
  color: red;
}

.buttonsbox {
  border-color: green;
}
